body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(7, 53, 7);
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 5px;

}


#snowb {
    position: relative;
    width: 200px;
    margin-top: -50px;
    height: 200px;
    margin-bottom: -80px;  
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;  
    margin: auto auto;  
}

nav {
    text-align: center;
}

#favs {
    color: white;
}

.nav-one {
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 20px;
    font-size: 20px;

}

#paint {
    height: 20px;
}

#paint:hover {
    size: 20px;
    
}

main {


}

article {
    background-color: rgba(22, 22, 110, 0.5);
    width: 40%;
    color: white;
    display: inline-block;
    margin: 50px 2em;
    
}

.imagetwo {
    display: inline;
}


#aright {
    float: right;
    max-height: 500px;
}

footer {
    background-color: rgb(109, 28, 28);
    position: absolute;
    width: 100%;
}



a:visited {
    color: rgb(23, 243, 78);
    text-decoration:none;
}
a:hover {
    color: rgb(121, 121, 121);
    size: 20px;
}